---
import Discord from "../icons/Discord.astro";
import Notifications from "../icons/Notifications.astro";

const currentPath = Astro.url.pathname;

const isActive = (url: string) => currentPath === url;
---

<header
  class="flex items-center justify-between p-4 mx-auto my-0 select-none max-w-7xl xl:px-0"
>
  <div class="flex items-center gap-x-5">
    <img src={"/gw-ico.webp"} alt="gwIcon" class="rounded-full size-11" />
    <nav>
      <ul class="flex items-center gap-x-5">
        <li>
          <a
            href="/"
            class={`${isActive("/") ? "text-purple-300" : "opacity-80"} font-medium text-lg`}
            >Inicio</a
          >
        </li>
        <li>
          <a
            href="/otros"
            class={`${isActive("/otros") ? "text-purple-300" : "opacity-50"} font-medium text-lg`}
            >Otros</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="flex items-center gap-x-1">
    <button
      id="notifications"
      class="p-2 border border-transparent rounded-md hover:bg-purple-500/10 hover:border-purple-500 group"
      ><Notifications class="group-hover:text-purple-500" /></button
    >
    <a
      href="https://discord.com/invite/gatitos"
      rel="noopener noreferrer"
      target="_blank"
      class="p-2 border border-transparent rounded-md hover:bg-purple-500/10 hover:border-purple-500 group"
    >
      <Discord class="group-hover:text-purple-500" />
    </a>
  </div>
</header>

<script is:inline>
  const btnNotifications = document.getElementById("notifications");

  btnNotifications.addEventListener("click", () => {
    alert("Lista de cambios");
  });
</script>
